<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Edit Theme: <%= @theme.display_name %></h1>
        <div>
          <%= link_to "Back to Themes", manage_themes_settings_path, class: "btn btn-outline-secondary" %>
          <%= link_to "View Theme", manage_theme_settings_path(@theme), class: "btn btn-outline-primary ms-2" %>
        </div>
      </div>

      <%= render 'settings/themes/form', theme: @theme %>
    </div>
  </div>
</div> 